---
import Layout from '../layouts/Layout.astro';
import Badge from "../components/Badge.astro";
import LinkedInicon from "../icons/LinkedIn.astro";
import Githubicon from "../icons/Github.astro";
import Emailicon from "../icons/Email.astro";
import InformationLink from "../components/InformationLink.astro";
import Training from "../components/Training.astro";
import TrainingIcon from "../icons/TrainingIcon.astro";
import Project from "../components/Projects.astro";
import ProjectIcon from "../icons/ProjectIcon.astro";
import "../styles/global.css";
import SectionContainer from '../components/SectionContainer.astro';
---

<Layout title='Portafolio de Facundo Ontiveros - Desarrollador web' 
description='Me especializo en crear interfaces web modernas y responsivas.'>
	<main>
		<SectionContainer class="py-44 pb-60">
		<h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-10">
			Hola, soy Facundo 
			<a href="https://www.linkedin.com/in/facundoontiveros/" class="flex justify-center items-center">
				<Badge>Disponible para trabajar</Badge>
			</a>
		</h1>
			<h2 class="text-white text-xl opacity-95 text-wrap pb-5">
				<span class="font-semibold text-yellow-200">Desarrollador y Programador Web</span> de Buenos Aires, Argentina. <br> 
				Me especializo en crear interfaces web modernas y responsivas.
			</h2>

			<nav class="flex gap-x-2">
				<InformationLink href="https://www.linkedin.com/in/facundoontiveros/">
					<LinkedInicon class="size-6"/>
						LinkedIn
				</InformationLink>
				<InformationLink  href="https://github.com/FacundoOntiveros">
					<Githubicon class="size-6"/>
						Github
				</InformationLink>
				<InformationLink>
					<Emailicon class="size-6" href=""/>
						Ontiverosfacundo@gmail.com
				</InformationLink>
			</nav>
		</SectionContainer>
		<SectionContainer id="formación" class="pt-5 pb-20">
			<h2 class="text-white text-3xl font-bold flex gap-x-3 pb-10">
				<TrainingIcon class="size-7 mt-0.5"/>
				Educación y Capacitación
			</h2>
			<Training />
		</SectionContainer>

		<SectionContainer id="proyectos" class="pt-5">
			<h2 class="text-white text-3xl font-bold flex gap-x-3 pb-10">
				<ProjectIcon class="size-7 mt-0.5"/>
				Proyectos Web
			</h2>
			<Project />
		</SectionContainer>
	</main>
</Layout>
