<header 
class="flex justify-between items-center py-5 w-[1120px] mx-auto">
	<img class="rounded-full size-20" src="/src/assets/fotoperfil.jpg" alt="OntiverosFacundo foto" />
	<nav class="flex flex-row gap-x-10 text-white font-bold">
		<a href="#top">Inicio</a>
		<a href="#formación">Formación</a>
		<a href="#proyectos">Proyectos</a>
		<a href="#sobre-mi">Sobre mi</a>
		<a href="#contacto">Contacto</a>
	</nav>
</header>
